body {
  font-family: $font-1; //Default font family
  color: $dark; //Default text color
  letter-spacing: normal; //Default letter spacing
  font-size: 14px; //Default font size
  line-height: 1.15; //Default line height
  font-weight: 500;
  overflow-x: hidden;
  min-height: 100%;
}

.btn {
  @include transition (all .3s ease);
  //@include hover{
  //   @include opacity(0.8);
  //}
}