{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - css_files
 * - css_url
 * - js_url
 * - favicon_url
 * - img_url
 * - lang_code
 * - favicon_color
 *
 */
#}

<a href="
    mailto:contact@email.com
    ?subject={{ ('Contact request from : \'' ~ project_name ~ '\'')|url_encode }}
    &body={{ ('Hi, ')|url_encode }}
    &cc=someoneelse@email.com, another@email.com
    &bcc=lastperson@email.com
">
    contact@email.com
</a>

