/* Menu || Burger
----------------------------------------------------------------------------------------------------*/
.button__menu {

  /* Menu || Burger || Container
  ----------------------------------------------------------------------------------------------------*/
  &-container {
    position: absolute;
    top: 150px;
    right: 15px;
    padding: 5px;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    @include clearfix;
    z-index: 11;
    @media screen and (min-width: $tablet-small){
      top:92px;
    }
    @media screen and (min-width: $tablet-medium2) {
      display: none;
    }

    button {
      cursor: pointer;
    }
    &__open {
      width: 24px;
      @include clearfix;
      &.open {

        span {
          &:nth-child(1),
          &:nth-child(6) {
            @include rotate(40);
          }

          &:nth-child(2),
          &:nth-child(5) {
            @include rotate(-40);
          }

          &:nth-child(1) {
            left: 2px;
            top: 4px;
          }

          &:nth-child(2) {
            left: calc(50% - 2px);
            top: 4px;
          }

          &:nth-child(3) {
            left: -50%;
            opacity: 0;
            @include opacity(0);
          }

          &:nth-child(4) {
            left: 100%;
            @include opacity(0);
          }

          &:nth-child(5) {
            left: 2px;
            top: 13px;
          }

          &:nth-child(6) {
            left: calc(50% - 2px);
            top: 13px;
            @include opacity(1);
          }

        }
      }
    }
  }

  /* Menu || Burger || Open
  ----------------------------------------------------------------------------------------------------*/
  &-open {
    display: block;
    float: left;
    position: relative;
    margin-right: 10px;
    @include rotate(0);
    @include size(20px, 16px);
    //@include transition (all .5s ease-in-out);

    &.open {

      span {
        &:nth-child(1),
        &:nth-child(6) {
          @include rotate(40);
        }

        &:nth-child(2),
        &:nth-child(5) {
          @include rotate(-40);
        }

        &:nth-child(1) {
          left: 2px;
          top: 4px;
        }

        &:nth-child(2) {
          left: calc(50% - 2px);
          top: 4px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
          @include opacity(0);
        }

        &:nth-child(4) {
          left: 100%;
          @include opacity(0);
        }

        &:nth-child(5) {
          left: 2px;
          top: 13px;
        }

        &:nth-child(6) {
          left: calc(50% - 2px);
          top: 13px;
          @include opacity(1);
        }

      }
    }

    span {
      display: block;
      position: absolute;
      background: #FDC816;
      @include size(50%, 2px);
      @include rotate(0);
      @include transition (all .25s ease-in-out);

      &:nth-child(even) {
        left: 50%;
        @include border-radius(0 9px 9px 0);
      }

      &:nth-child(odd) {
        left: 0;
        @include border-radius(9px 0 0 9px);
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 7px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 14px;
      }
      &:nth-child(6) {
        @include opacity(0);
      }
    }
  }

  /* Menu || Burger || Close
  ----------------------------------------------------------------------------------------------------*/
  &-close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    @include size(70px, 32px);

    .menu-mobile--active & {
      display: block;
    }
  }
}

header {
  .menu {
    position: fixed;
    top: -1000%;
    left: 0;
    width: 100%;
    padding: 0 0 25px;
    background: $white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    z-index: 1;
    @include clearfix;
    @include transition (top 0.5s ease-out);
    @media screen and (min-width: $tablet-medium2) {
      position: static;
      left: auto;
      overflow: inherit;
      background: none;
      width: auto;
      padding: 0;
      top: 0;
      max-height: none;
    }
    .menu-mobile--active & {
      top: 120px;
      border-top: 1px solid rgba($black, 0.2);
      @media screen and (min-width: $tablet-small){
        top: 60px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      @media screen and (min-width: $tablet-small){
        text-align: center;
      }
      @media screen and (min-width: $desktop-small){
        text-align: inherit;
      }
      li {
        display: block;
        font-size: 18px;
        font-weight: 400;
        padding-right: 13px;
        padding-left: 13px;
        line-height: 60px;
        text-align: center;
        position: relative;
        border-bottom: 1px solid rgba($black, 0.2);
        @media screen and (min-width: $tablet-small) {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          border-bottom: 0;
        }
        &.mon-espace-mobile {
          display: block;
          @media screen and (min-width: $desktop-small) {
            display: none;
          }
        }
        &.current-menu-item, &:hover{
          &:before{
            content:"";
            width: 50px;
            height:8px;
            background: #FDC816;
            position: absolute;
            bottom:-4px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        a {
          color: $dark;
          display: block;
          @include transition (all .3s ease-in-out);
        }
      }
    }
  }
}
