{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - css_files
 * - css_url
 * - js_url
 * - favicon_url
 * - img_url
 * - lang_code
 * - favicon_color
 *
 */
#}

        </main>
        <div class="footer__top">
            <div class="wrapper">
                <div class="footer__top--container">
                    <p>Liên hệ chúng tôi ngay hôm nay</p>
                    <div class="footer__top--main">
                        <div class="tele">
                            <div><a href="">0932.09.68.90</a> - <a href="" title="">0166.247.0286</a></div></div>
                        <div class="email">
                            <div>
                                <a href="">vesinhdaiphat2018@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__top--content">
                        <div class="left">
                            <img src="../images/email-icon-footer.png" alt="">
                            <p>Đăng ký <br>
                                nhận bảng tin</p>
                        </div>
                        <div class="right">
                            <p>Cập nhật thông tin khuyến mãi nhất <br>
                                Hưởng quyền lợi giảm giá riêng biệt</p>
                            <div class="form">
                                <form action="">
                                    <input type="text">
                                    <input type="submit" value="Đăng Kí">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="wrapper">
                <div class="footer__bottom--container">
                    <div class="company__name">
                        công ty TNHH vệ sinh công nghiệp ĐẠI PHÁT
                    </div>
                    <div class="location">
                        <div>
                            8F, Đường 236, Khu Phố 3, Phường Tăng Nhơn Phú A, Quận 9, TP. Hồ Chí Minh
                        </div>
                    </div>
                    <div class="tax__number">
                        <div>
                            Mã số thuế: 0315035510
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>