@import 'global/mixins';
@import 'global/normalize';
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

/* This css is used to design the index.html page that lists other generated assets by Gulp. */

body {
  font-family: News Cycle, sans-serif;
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  margin: 30px 0;
}

.container, h1 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #000;
  display: inline-block;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

h1:before {
  bottom: 0;
}

h1:after, h1:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 105%;
  background: #000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1:after {
  top: 0;
}

li {
  margin-bottom: 15px;
  font-size: 1.25rem;
  line-height: 27px;
}

li:last-of-type {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color .1s ease-in-out;
}

a:active, a:hover {
  color: #000;
}

.inner {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 480px;
  width: 100%;
  text-align: left;
}

ul {
  padding-left: 15px;
  margin-bottom: 20px;
}

ul:last-of-type {
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 17.5px;
}
