node_modules/
bower_components/
package-lock.json
*.pydevproject
.project
.metadata
.phprc
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.idea
.idea/
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-alt.json
.svn/
/*.iml
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.gradle
.target
.texlipse
.DS_STORE
yarn-error.log
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
Generated_Code/
*.Cache
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.dotCover
_TeamCity*
*.cachefile
web/uploads/*
web/bundles/*
app/config/parameters.ini
app/config/parameters.yml
vendor/*
*/logs/*
*/cache/*
app/bootstrap*
/.web-server-pid
/phpunit.xml
/vendor
sites/*/settings*.php
sites/*/services*.yml
sites/*/files
sites/*/private
sites/simpletest