{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - css_files
 * - css_url
 * - js_url
 * - favicon_url
 * - img_url
 * - lang_code
 * - favicon_color
 *
 */
#}

<div class="paging">
    <div class="inner">
        <ul role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li class="pre" itemprop="url"><a href="#" itemprop="name"><i class="icon-arrow-left"></i></a></li>
            <li class="is-active"><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">18</a></li>
            <li class="next"><a href="#"><i class="icon-arrow-right"></i></a></li>
        </ul>
    </div>
</div>

